<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间必须是Mapper的全路径 -->
<mapper namespace = "cn.fchen.test.dao.UserMapper">
    <select id="getUser" parameterType="int" resultType="cn.fchen.test.pojo.User">
        select * from 'user' where id = #{id}
    </select>
</mapper>
